In [1]:
import pandas as pd 
data=pd.read_csv('GOOG.csv')

In [2]:
data

,symbol,date,close,high,low,open,volume,adjClose,adjHigh,adjLow,adjOpen,adjVolume,divCash,splitFactor
0,GOOG,2016-06-14 00:00:00+00:00,718.27,722.470,713.1200,716.48,1306065,718.27,722.470,713.1200,716.48,1306065,0.0,1.0
1,GOOG,2016-06-15 00:00:00+00:00,718.92,722.980,717.3100,719.00,1214517,718.92,722.980,717.3100,719.00,1214517,0.0,1.0
2,GOOG,2016-06-16 00:00:00+00:00,710.36,716.650,703.2600,714.91,1982471,710.36,716.650,703.2600,714.91,1982471,0.0,1.0
3,GOOG,2016-06-17 00:00:00+00:00,691.72,708.820,688.4515,708.65,3402357,691.72,708.820,688.4515,708.65,3402357,0.0,1.0
4,GOOG,2016-06-20 00:00:00+00:00,693.71,702.480,693.4100,698.77,2082538,693.71,702.480,693.4100,698.77,2082538,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1253,GOOG,2021-06-07 00:00:00+00:00,2466.09,2468.000,2441.0725,2451.32,1192453,2466.09,2468.000,2441.0725,2451.32,1192453,0.0,1.0
1254,GOOG,2021-06-08 00:00:00+00:00,2482.85,2494.495,2468.2400,2479.90,1253253,2482.85,2494.495,2468.2400,2479.90,1253253,0.0,1.0
1255,GOOG,2021-06-09 00:00:00+00:00,2491.40,2505.000,2487.3300,2499.50,1006337,2491.40,2505.000,2487.3300,2499.50,1006337,0.0,1.0
1256,GOOG,2021-06-10 00:00:00+00:00,2521.60,2523.260,2494.0000,2494.01,1561733,2521.60,2523.260,2494.0000,2494.01,1561733,0.0,1.0
1257,GOOG,2021-06-11 00:00:00+00:00,2513.93,2526.990,2498.2900,2524.92,1262309,2513.93,2526.990,2498.2900,2524.92,1262309,0.0,1.0

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1258 entries, 0 to 1257
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   symbol       1258 non-null   object
 1   date         1258 non-null   object
 2   close        1258 non-null   float64
 3   high         1258 non-null   float64
 4   low          1258 non-null   float64
 5   open         1258 non-null   float64
 6   volume       1258 non-null   int64
 7   adjClose     1258 non-null   float64
 8   adjHigh      1258 non-null   float64
 9   adjLow       1258 non-null   float64
 10  adjOpen      1258 non-null   float64
 11  adjVolume    1258 non-null   int64
 12  divCash      1258 non-null   float64
 13  splitFactor  1258 non-null   float64
dtypes: float64(10), int64(2), object(2)
memory usage: 137.7+ KB

In [4]:
data = data.drop(columns=['symbol', 'adjClose', 'adjHigh', 'adjLow', 'adjOpen', 'adjVolume', 'divCash', 'splitFactor'], axis=1)

In [5]:
data

,date,close,high,low,open,volume
0,2016-06-14 00:00:00+00:00,718.27,722.470,713.1200,716.48,1306065
1,2016-06-15 00:00:00+00:00,718.92,722.980,717.3100,719.00,1214517
2,2016-06-16 00:00:00+00:00,710.36,716.650,703.2600,714.91,1982471
3,2016-06-17 00:00:00+00:00,691.72,708.820,688.4515,708.65,3402357
4,2016-06-20 00:00:00+00:00,693.71,702.480,693.4100,698.77,2082538
...,...,...,...,...,...,...
1253,2021-06-07 00:00:00+00:00,2466.09,2468.000,2441.0725,2451.32,1192453
1254,2021-06-08 00:00:00+00:00,2482.85,2494.495,2468.2400,2479.90,1253253
1255,2021-06-09 00:00:00+00:00,2491.40,2505.000,2487.3300,2499.50,1006337
1256,2021-06-10 00:00:00+00:00,2521.60,2523.260,2494.0000,2494.01,1561733
1257,2021-06-11 00:00:00+00:00,2513.93,2526.990,2498.2900,2524.92,1262309

In [18]:
X=data.drop(columns=['close', 'date'])

In [21]:
X
X=X.values

In [22]:
X

array([[7.224700e+02, 7.131200e+02, 7.164800e+02, 1.306065e+06],
       [7.229800e+02, 7.173100e+02, 7.190000e+02, 1.214517e+06],
       [7.166500e+02, 7.032600e+02, 7.149100e+02, 1.982471e+06],
       ...,
       [2.505000e+03, 2.487330e+03, 2.499500e+03, 1.006337e+06],
       [2.523260e+03, 2.494000e+03, 2.494010e+03, 1.561733e+06],
       [2.526990e+03, 2.498290e+03, 2.524920e+03, 1.262309e+06]])

In [23]:
Y=data.iloc[:,1].values

In [24]:
Y

array([ 718.27,  718.92,  710.36, ..., 2491.4 , 2521.6 , 2513.93])

In [26]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2)

In [27]:
X_train.shape

(1006, 4)

In [28]:
X_test.shape

(252, 4)

In [29]:
Y_train.shape

(1006,)

In [30]:
Y_test.shape

(252,)

In [32]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(X_train,Y_train)

LinearRegression()

In [40]:
from sklearn.metrics import r2_score

Y_pred=regressor.predict(X_test)
print(r2_score(Y_pred,Y_test))

0.99967510101139

In [42]:
import pickle
model=open('model.pkl','wb')
pickle.dump(regressor,model)
model.close()